<div>
    <h1 style="text-align: center;">Este correo le fue proporcionado para reestablecer su contraseña</h1>
    <p style="text-align: center" s>para reestablecer su contraseña <a href='http://localhost:8080/restorePassword?token={{restoreToken}}'>haga
            click aquí</a></p>
</div>