<div id="cart" dataCartId="{{cart._id}}">
    {{#each cart.products}}
    <div class="product-box">
        <p>{{this.productId.title}}</p>
        <p>Precio: ${{this.productId.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <p id="total">Total: </p>
    </div>
    {{/each}}
</div>

<script>


</script>