<div class="login-box">
    <h1>Ingresa</h1>
    <form id="loginForm">
        <div class="input-box">
            <input type="text" name="email" id="email" required class="input">
            <label for="email" class="label">Email</label>
        </div>
        <div class="input-box">
            <input type="password" name="password" id="password" required class="input">
            <label for="password" class="label">Password</label>
        </div>

        <div class="button-form">
            <button type="submit">Log In</button>
        </div>
    </form>

    <p>También puedes ingresar por
        <a href="/api/sessions/github"><button id="buttonGit">Github</button></a>
    </p>
    <h3>No recuerdas tu contraseña ? <a href="/restorepassword">Reestablecer contraseña</a></h3>
</div>

<script src="/js/login.js"></script>