<div class="login-box">
    <h1>Ingresa</h1>
    <form id="loginForm">
        <div class="input-box">
            <input type="text" name="email" required class="input">
            <label for="email" class="label">Email</label>
        </div>
        <div class="input-box">
            <input type="password" name="password" required class="input">
            <label for="password" class="label">Password</label>
        </div>

        <div class="button-form">
            <button type="submit">Log In</button>
        </div>
    </form>
</div>

<script>
    const form = document.getElementById("loginForm")

    form.addEventListener('submit', async (evt) => {
        evt.preventDefault();
        const data = new FormData(form);
        const obj = {};
        data.forEach((value, key) => (obj[key] = value))
        const result = await fetch('api/sessions/login', {
            method: 'POST',
            body: JSON.stringify(obj),
            headers: {
                "Content-Type": "application/json"
            }
        })
        const resultData = await result.json();
        console.log(resultData.status)
        if (resultData.status === 'succes') {
            window.location.replace('/products')
        }
    })

</script>