<div class="realTimeProducts-box">
    <div class="buttons-box">
        <button id="getProducts">Traer Productos</button>
        <button id="cleanProducts">Limpiar productos</button>
    </div>
    <div id="info-box">

    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts"></script>
