<div>
    <h1>Reestablece tu contraseña</h1>

    <form id="restorePasswordForm">
        <label>Correo para reestablecer</label>
        <input name="email">
        <input type="submit">
    </form>

    <p id="text"></p>
</div>

<script src="/js/restoreRequest.js"></script>