body {
    background-color: rgba(219, 219, 219, 0.706);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout {
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    background-color: rgb(29, 195, 0);
    transition: all 0.3s;
}

#logout:hover {
    background-color: black;
}

h1 {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

.allProducts-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.contenido {
    min-height: calc(100% - 500px);
    width: 100%;
}

.card-product {
    background-color: rgb(255, 255, 255);
    width: 140px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#buttonAdd {
    width: 100%;
    border: none;
    height: 35px;
    background-color: rgb(99, 255, 72);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.1s;
}

#buttonAdd:hover {
    background-color: rgba(99, 255, 72, 0.572);
    height: 45px;
}

#buttonAdd.clicked {
    background-color: black;
    color: white;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
}

.numberPage {
    margin-left: 40px;
    margin-right: 40px;
}

.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}