body {
    background-color: greenyellow;
}

.realTimeProducts-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
}

.buttons-box {
    height: 120px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

button {
    height: 45px;
    color: rgb(34, 34, 34);
    background-color: aquamarine;
    border-radius: 10px;
    border-width: 3px;
    border-bottom-width: 7px;
}

